.navbar-item {
    margin-right: 24px;
    &:hover {
        color: #F2AA4CFF !important; 
        background-color: black;
    }
    &:focus {
        background-color: black;
    }
    color: white;
}

.active {
    color: #F2AA4CFF !important;
    text-decoration: underline;
    text-decoration-color: #F2AA4CFF;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}

.navbar-menu {
    background-color: black;
}