<p>header works!</p>
<div class="navigation">
    <nav class="navbar is-white" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="options"
                [class.is-active]="showBurgerMenu" (click)="showBurgerMenu = !showBurgerMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="options" class="navbar-menu" [class.is-active]="showBurgerMenu">
            <div class="navbar-end">
                <a class="navbar-item">
                    Home
                </a>
                <a class="navbar-item">
                    About
                </a>
                <a class="navbar-item">
                    Expertise
                </a>
                <a class="navbar-item">
                    Contact
                </a>
            </div>
        </div>
    </nav>
</div>