<div class="navigation" *ngIf="nav.visible" data-aos="fade-up" data-aos-duration="2000">
    <nav class="navbar is-black is-size-5" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="options"
                [class.is-active]="showBurgerMenu" (click)="showBurgerMenu = !showBurgerMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="options" class="navbar-menu" [class.is-active]="showBurgerMenu">
            <div class="navbar-end">
                <a class="navbar-item" routerLink="/">
                    Home
                </a>
                <a class="navbar-item" routerLink="/about">
                    About
                </a>
                <a class="navbar-item" routerLink="/expertise">
                    Expertise
                </a>
                <a class="navbar-item" routerLink="/contact">
                    Contact
                </a>
            </div>
        </div>
    </nav>
</div>