<div class="container" data-aos="fade-up" data-aos-duration="1000">
    <div class="columns is-mobile is-multiline is-centered">
        <!-- <h1 class="title is-1 has-text-white center"> Expertise </h1> -->
        <div class="column is-one-third">
            <h2 class="is-size-4">Skills</h2>
            <div class="columns is-multiline">
                <div class="column is-one-third">
                    <img src="assets/js.png" />
                    <h5>Javascript</h5>
                </div>
                <div class="column is-one-third">
                    <img src="assets/html5.png" />
                    <h5>HTML</h5>
                </div>
                <div class="column is-one-third">
                    <img src="assets/css3.png" />
                    <h5>CSS</h5>
                </div>
                <div class="column is-one-third">
                    <img src="assets/typescript.png" />
                    <h5>Typescript</h5>
                </div>
                <div class="column is-one-third">
                    <img src="assets/angular.png" />
                    <h5>Angular</h5>
                </div>
                <div class="column is-one-third">
                    <img src="assets/react.png" />
                    <h5>React</h5>
                </div>
                <div class="column is-one-third">
                    <img src="assets/nodejs.png" />
                    <h5>Node</h5>
                </div>
                <div class="column is-one-third">
                    <img src="assets/java.png" />
                    <h5>Java</h5>
                </div>
                <div class="column is-one-third">
                    <img src="assets/git.png" />
                    <h5>Git</h5>
                </div>
            </div>
        </div>
        <div class="column is-one-third">
            <h2 class="is-size-4">Experience</h2>
            <div class="columns">
                <h5 class="column is-two-fifths has-text-white"><b>2021 - 2022</b></h5>
                <p class="column auto has-text-white"><b>Desjardins</b><br> Full stack developer</p>
            </div>
        </div>
    </div>
</div>