<div class="container">
    <div class="columns m-6" data-aos="fade-up" data-aos-duration="2000">
        <div class="column">
            <img src="assets/ok.jpg">
        </div>
        <div class="column">
            <h2 class="title is-4 has-text-white"> About me </h2>
            <p class="has-text-white is-size-5">Based in Montreal, Canada. I'm a student majoring in software
                enginering, who has a passion in learning more about Web
                developpement and other technologies. UI/UX Design and solving complex problemes excites me the most
                about
                developpement, it drive me to learn more and put to work the skills I had acquired in my experience.
            </p>
        </div>

    </div>
</div>