<div class="container">
  <div class="columns m-6" data-aos="fade-up" data-aos-duration="1500">
    <div class="column">
      <h2 class="title is-size-3 has-text-white">About me</h2>
      <p class="about has-text-white is-size-4">
        I graduated in software engineering based in Montreal, Canada. I am
        always eager to learn and explore new technologies. My major in software
        engineering has given me a solid foundation in the field, and my
        experience in full-stack development has allowed me to develop a wide
        range of skills. I am passionate about coding and I am always looking
        for ways to improve and expand my knowledge.
      </p>
    </div>
    <div class="column">
      <h2 class="title is-size-3 has-text-white">Projects</h2>
      <div class="article">
        <h3 class="title is-size-5 has-text-white">Fitness Habit Mobile App</h3>
        <p class="about has-text-white is-size-6">
          My capstone project, a fitness habit mobile app built with Typescript,
          Express, MongoDB, and Android. This project has challenged me to apply
          my knowledge of software engineering to develop a mobile app that
          helps users establish and maintain healthy fitness habits.
        </p>
      </div>
      <div class="article mt-6">
        <h3 class="title is-size-5 has-text-white">
          Personal Portfolio Website
        </h3>
        <p class="about has-text-white is-size-6">
          My personal portfolio website is a project I created to showcase my
          skills and experience. Using Angular, I was able to build a
          single-page application that highlighted my work.
        </p>
      </div>
    </div>
  </div>
</div>
