<div class="container">
    <div class="columns m-6" data-aos="fade-up" data-aos-duration="1500">
        <div class="column">
            <p class="quote">Knowing is not enough, <br><b>we must apply. </b> <br>Willing is not enough,<br><b> we must
                    do.
                </b>
                <br> <span>- Johann
                    wolfgang
                    von Goethe</span>
            </p>
        </div>
        <div class="column">
            <h2 class="title is-size-3 has-text-white"> About me </h2>
            <p class="about has-text-white is-size-4">Based in Montreal, Canada. I'm a student majoring in software
                engineering. Full stack development, UI/UX Design and solving complex problems excites me the most about
                software developpement. New technologies and new concepts fascinate and drive me to discover and learn
                more.
        </div>
    </div>
</div>