<div class="container" data-aos="fade-up" data-aos-duration="2000">
    <h2 class="title is-4 has-text-white"> Get in touch </h2>
    <div class="columns">
        <div class="column is-one-third">
            <div class="box">
                <h3 class="has-text-white has-text-weight-bold is-size-5">My social</h3>
                <div class="social">
                    <a href="https://www.instagram.com/jimjimhu/">
                        <fa-icon class="icone fa-2x" [icon]="faInstagram"></fa-icon>
                    </a>
                    <a href="https://github.com/Mr-JimmyHu">
                        <fa-icon class="icone fa-2x" [icon]="faGithub"></fa-icon>
                    </a>
                    <a href="https://www.facebook.com/jimmy.hu.98">
                        <fa-icon class="icone fa-2x" [icon]="faFacebook"></fa-icon>
                    </a>
                    <a href="https://www.linkedin.com/in/jimmy-hu-bb35641b2/">
                        <fa-icon class="icone fa-2x" [icon]="faLinkedin"></fa-icon>
                    </a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="box">
                <h3 class="has-text-white has-text-weight-bold is-size-5">My email</h3>
                <p class="is-size-6">jimmy_hu67@hotmail.com</p>
            </div>
        </div>
        <div class="column">
            <div class="box">
                <h3 class="has-text-white has-text-weight-bold is-size-5">My number</h3>
                <p class="is-size-6">(514)-880-1025</p>
            </div>
        </div>
    </div>

</div>