<div class="content">
    <h1 class="title is-1"> Contact </h1>
    <p>Nunc eros ligula, congue sed molestie ac, pharetra quis arcu. Ut condimentum nisi diam, nec semper odio aliquam
        ac.
        Nullam at nulla sit amet mi faucibus imperdiet a vitae metus. Phasellus elementum tempor odio id pellentesque.
        Sed
        auctor faucibus consectetur. Praesent pulvinar urna in metus efficitur posuere. Pellentesque quis urna ipsum.
        Maecenas
        lectus massa, iaculis vitae iaculis venenatis, pharetra in eros. Nam feugiat commodo diam in dignissim.
        Suspendisse
        potenti. Proin rutrum, sem vitae porttitor malesuada, dui turpis rutrum elit, ut pellentesque tellus leo id
        massa. In
        varius turpis vitae lacinia hendrerit. Vestibulum tempor ut est eu aliquet. In pellentesque orci neque, sed
        congue elit
        facilisis sit amet. Suspendisse id laoreet risus, in suscipit lacus. Aenean laoreet diam vitae erat sagittis, eu
        laoreet
        ligula dictum. Integer quis justo ipsum. Quisque feugiat, nunc vitae accumsan porttitor, diam massa hendrerit
        felis, sed
        dapibus quam lacus at diam. Nulla vel placerat nisl. Aenean nec lorem sed orci commodo rutrum. Suspendisse quis
        hendrerit velit. Maecenas quis ante sit amet augue lacinia blandit. Quisque aliquam egestas sagittis. Integer
        ipsum
        turpis, maximus vel lectus vitae, consectetur faucibus felis. Nulla id neque sit amet massa tincidunt placerat.
    </p>
</div>