<div class="container" data-aos="fade-up" data-aos-duration="1500">
    <h2 class="title is-size-3 has-text-white pt-6"> Get in touch </h2>
    <div class="columns m-6">
        <div class="column is-one-third">
            <div class="box">
                <h3 class="has-text-white has-text-weight-bold is-size-4">My social</h3>
                <div class="social">
                    <a href="https://www.instagram.com/jimjimhu/">
                        <fa-icon class="icone fa-2x" [icon]="faInstagram"></fa-icon>
                    </a>
                    <a href="https://github.com/Mr-JimmyHu">
                        <fa-icon class="icone fa-2x" [icon]="faGithub"></fa-icon>
                    </a>
                    <a href="https://www.facebook.com/jimmy.hu.98">
                        <fa-icon class="icone fa-2x" [icon]="faFacebook"></fa-icon>
                    </a>
                    <a href="https://www.linkedin.com/in/jimmy-hu-bb35641b2/">
                        <fa-icon class="icone fa-2x" [icon]="faLinkedin"></fa-icon>
                    </a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="box">
                <h3 class="has-text-white has-text-weight-bold is-size-4">My email</h3>
                <a href="mailto:jimmy_hu67@hotmail.com" class="mail is-size-5">jimmy_hu67@hotmail.com</a>
            </div>
        </div>
        <div class="column">
            <div class="box">
                <h3 class="has-text-white has-text-weight-bold is-size-4">My number</h3>
                <a href="tel:514-880-1025" class="is-size-5">(514)-880-1025</a>
            </div>
        </div>
    </div>

</div>