html,body
{
    min-width:100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    overflow-x: hidden;
    font-family: 'Gotham', sans-serif;
    
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}