h1 {
  position: relative;
  line-height: 1.2em;
  &:before {
    position: absolute;
    top: 1.2em;
    width: 70px;
    content: '';
    border-top: 1px solid #D8B281;
  }
}

img {
    height: 100%;
}

.description {
    position: relative;
    top: 40%;

    a {
        text-decoration: underline;
        color: #D8B281;
    }
}

.social {
    height: 100px;
    a {
        margin-right: 1rem;
    }
}

.icone {
    color: white;
}