<div class="columns is-vcentered">
    <div class="column has-text-white is-two-thirds ml-6">
        <div class="description" data-aos="fade-right" data-aos-duration="1000">
            <h1 class="is-size-1 has-text-white mb-5">Jimmy Hu</h1>
            <p class="is-size-5 is-family-secondary mb-5">I'm a Full Stack Developer passionate about
                creating interactive applications and experiences on
                the web.</p>
            <a class="is-size-5" routerLink="/about">Learn more</a>
            <div class="social mt-5">
                <a href="https://www.instagram.com/jimjimhu/">
                    <fa-icon class="icone fa-2x" [icon]="faInstagram"></fa-icon>
                </a>
                <a href="https://github.com/Mr-JimmyHu">
                    <fa-icon class="icone fa-2x" [icon]="faGithub"></fa-icon>
                </a>
                <a href="https://www.facebook.com/jimmy.hu.98">
                    <fa-icon class="icone fa-2x" [icon]="faFacebook"></fa-icon>
                </a>
                <a href="https://www.linkedin.com/in/jimmy-hu-bb35641b2/">
                    <fa-icon class="icone fa-2x" [icon]="faLinkedin"></fa-icon>
                </a>
            </div>
        </div>
    </div>
    <div class="column image" data-aos="fade-up" data-aos-duration="1500">
        <img src="assets/home-view.jpg">
    </div>
</div>